{% extends "base.html" %}

{% block title %} Pur Beurre - Contact {% endblock %}

{% block content %} 

<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Contactez-nous!</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">Vous avez une question ou une suggestion à nous faire pour améliorer notre site? N'hésitez pas à nous contacter par téléphone ou par mail!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
              <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
              <div>00 00 00 00 00</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
              <a class="d-block" href="mailto:mail@mail.com">andour.otman@gmail.com</a>
            </div>
        </div>
    </div>
</section>
      
<div class="container text-center" >
    <p>Andour Otman</p>
    <p>Projet 8 OpenClassrooms</p>
    <p>Visitez mon <a href="https://github.com/OtmanAndour" target="_blank">Github</a> !</p>
</div>
    
{% endblock %}
